source_up_if_exists

use flake 
PATH_add "$PWD/.scripts"

use vim .vimrc

export GH_DIR="$PWD"
CMAKE_LIBRARY_PATH="$CMAKE_LIBRARY_PATH:$(echo "$CMAKE_LIBRARY_PATH" | sed 's/:/\n/g' | grep 'cudatoolkit-11.7.0/lib$' | head -n 1)/stubs"

# if [[ -z "$FFGH_AUTH_TOKEN" ]]; then
#   export FFGH_AUTH_TOKEN="$(pass show github/tokens/gh-cli-ro)"
# fi

source_env .modules/proj/envrc

for f in "$PWD"/.flake/pkgs/*; do
  watch_file "$f"

# vim: set tabstop=2 shiftwidth=2 expandtab:
